<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.calidad.sosfidoapp.sosfido">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:supportsRtl="true"
        android:largeHeap="true"

        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Presentacion.Activies.LoadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarOnly">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Presentacion.Activies.LoginActivity" />
        <activity android:name=".Presentacion.Activies.RegisterActivity"
            android:label="@string/register">
        </activity>
        <activity
            android:name=".Presentacion.Activies.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" />

        <activity android:name=".Presentacion.Activies.PublicationsActivity"
            android:screenOrientation="portrait"
            android:label="@string/publications"/>
        <activity android:name=".Presentacion.Activies.ProfileActivity"
            android:screenOrientation="portrait"
            android:label="@string/profile"/>
        <activity android:name=".Presentacion.Activies.RecordActivity"
            android:screenOrientation="portrait"
            android:label="@string/record"/>
        <activity android:name=".Presentacion.Activies.SuggestionsActivity"
            android:screenOrientation="portrait"
            android:label="@string/suggestions"></activity>
        <activity android:name=".Presentacion.Activies.RegisterUserActivity"
            android:screenOrientation="portrait"
            android:label="@string/register"></activity>
    </application>

</manifest>